## 元组(tuple)


元组是Python的另一种特色的数据类型

元组和列表是相似的

可以存储不同类型的数据

**但是！划重点：元组是不可改变的，创建后就不能做任何修改操作了**



创建元组
用逗号隔开的就是元组，但是为了美观和代码可读性，我们一般加小括号

In [1]:
a = 1,2,3

In [2]:
a

(1, 2, 3)

In [3]:
type(a)

tuple

In [4]:
tuple1 = ('a', 1, 2.33, [1, 'a'], (1,3,5))

In [5]:
tuple1

('a', 1, 2.33, [1, 'a'], (1, 3, 5))

注意：上面的元组包含了列表，所以元组允许嵌套

而且元组包含了可变类型（因为列表是可变的数据类型：我们能对列表值修改，所以说列表是可变类型）


特殊情况：

创建一个元素的元组时必须加逗号

In [6]:
tuple2 = 1,

In [7]:
tuple2

(1,)

In [8]:
type(tuple2)

tuple

In [9]:
tuple3 = (1)

In [10]:
tuple3

1

In [11]:
type(tuple3)

int

In [12]:
tuple4 = (1,)

In [13]:
tuple4

(1,)

In [14]:
type(tuple4)

tuple

注意：上面的只加了小括号的，创建出来的是int整型

而在加了逗号基础上，是否使用小括号都是ok的，都创建的是元组

创建空元组

In [15]:
tuple5 = ()

In [16]:
tuple5

()

### 元组的基本操作

和列表类似，元组也有很多基本操作：


1. 索引

2. 切片

3. 连接

4. 复制

5. 对内部元素循环

6. 查找元组中是否有某元素

7. 删除元组

8. 返回元组中最大值和最小值


快速演示一下:

In [17]:
tuple6 = (1,2,3,4,5,6,7,8,9)

In [18]:
tuple6

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
tuple6[3]

4

In [22]:
tuple6[-2]

8

In [24]:
tuple6[1:4]

(2, 3, 4)

In [25]:
tuple7 = (10, 11, 12, 13)

In [26]:
tuple6 + tuple7

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

In [27]:
tuple7 * 3

(10, 11, 12, 13, 10, 11, 12, 13, 10, 11, 12, 13)

In [29]:
for i in tuple6:
    print(i)

1
2
3
4
5
6
7
8
9

In [30]:
2 in tuple6

True

In [31]:
0 in tuple6

False

In [32]:
del tuple7

In [33]:
tuple7

NameError: name 'tuple7' is not defined

In [35]:
max(tuple6)

9

In [36]:
min(tuple6)

1

In [37]:
len(tuple6)

9

In [38]:
len(())

0

注意：后一个是对空元组执行长度操作，显示长度为0



之前也说了，元组和列表不同之处就是元组创建后不可修改：



我们尝试修改：

In [39]:
tuple6[0] = 2

TypeError: 'tuple' object does not support item assignment

果然报错了



除此之外，在列表可行的

pop（）

append（）

extend（）

remove（）

index（）

都在元组中不可用

### 元组和列表相互转化

In [42]:
tuple6

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [43]:
list(tuple6)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [46]:
tuple(list1)

(1, 2, 3, 4, 5)

没错，只要在原来的列表外套一层tuple（）就可以转为元组
在原来的元组外面套一层list（）就可以转为列表

In [47]:
[m+n for m in 'ABC' for n in 'abc' ]

['Aa', 'Ab', 'Ac', 'Ba', 'Bb', 'Bc', 'Ca', 'Cb', 'Cc']

In [48]:
[(m, n) for m in 'ABC' for n in 'abc' ]

[('A', 'a'),
 ('A', 'b'),
 ('A', 'c'),
 ('B', 'a'),
 ('B', 'b'),
 ('B', 'c'),
 ('C', 'a'),
 ('C', 'b'),
 ('C', 'c')]

In [50]:
[(m, n) for m in 'abc' for n in 'abc' ]

[('a', 'a'),
 ('a', 'b'),
 ('a', 'c'),
 ('b', 'a'),
 ('b', 'b'),
 ('b', 'c'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'c')]

In [51]:
[(m, n) for m in 'abc' for n in 'abc' if m != n ]

[('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'c'), ('c', 'a'), ('c', 'b')]

元组在某些方面有优势的：

1. 元组的运算速度比列表快，如果你经常要遍历一个序列，且不需要修改内容，用元组比列表好
2. 元组相当于给数据加了保护（不可修改），有些场合需要这种不可修改的内容
想想我们生活中的很多通知说明等word文件不就是只读不可写么，能理解了吧